.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 50px;
    margin-left: 30px;
    font-size: smaller;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.games {
    margin-right: 10px; /* Уменьшим отступ справа */
    margin-left: 10px; /* Уменьшим отступ слева */
}

.centered-content {
    margin-top: -150px;
    text-align: center;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    flex-direction: column; /* Располагаем элементы в колонку */
}

.search-container {
    text-align: center;
    width: 300px; /* Устанавливаем ширину контейнера поиска */
}

.news-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.news {
    margin-bottom: 10px;
}

.news-input {
    width: 100%;
    max-width: 1000px;
    min-height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    resize: vertical;
    overflow-y: auto; /* Позволяет автоматически расширять текстовое поле вниз */
}


/* Стили для контейнера */
.container {
    min-height: 100vh; /* Устанавливаем минимальную высоту контейнера равной высоте видимого экрана */
    position: relative; /* Позиционируем относительно */
}

/* Стили для футера */
.footer {
    position: relative; /* Позиционируем относительно */
    bottom: 0; /* Размещаем внизу */
    width: 96%; /* Занимаем всю ширину */
    color: #fff; /* Белый текст */
    padding: 20px; /* Отступы внутри */
    margin-top: 700px;
}

/* Стили для информации о создателях */
.creators-info {
    position: absolute; /* Позиционируем абсолютно */
    bottom: 0; /* Размещаем внизу */
    left: 0; /* Размещаем в левом углу */
    width: 100%; /* Занимаем всю ширину */
    background-color: #333; /* Черный фон */
    color: #fff; /* Белый текст */
    padding: 20px; /* Отступы внутри */
}

.creator-info h2 {
    color: #fff; /* Белый заголовок */
    font-size: 24px;
    margin-bottom: 10px;
}

.creator-info p, .creator-info li {
    margin-bottom: 10px;
}

.creators-info {
    /* Стили для информации о создателях */
    text-align: center; /* Выравнивание текста по центру */
}

.advertisement {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-banner {
    position: absolute;
    top: 450px; /* Установите желаемый отступ от верхней части контейнера */
    left: 10px; /* Установите желаемое горизонтальное положение баннера */
}

.right-banner {
    position: absolute;
    top: 450px; /* Установите желаемый отступ от верхней части контейнера */
    right: 10px; /* Установите желаемое горизонтальное положение баннера */
}



